
    <div ng-controller="ShipmentInterfaceController" class="col s12 m6 l6">
        <div class="section grey lighten-5 card" style="padding-top: 0rem !important;">

            <h2><span>Shipment Interface</span> </h2>

            <div class="section grey lighten-3">
                <table class="striped bordered ">
                    <thead >
                    <th>Month</th>

                    <th>Order Sent to MSL</th>
                    <th>Packed By MSL</th>
                    <th>FTP Failed</th>
                    </thead>
                    <tbody ng-repeat="row in shipmentInterfaceData ">
                    <td >{{row.orderDate}}</td>

                    <td >{{row.released| number}}</td>
                    <td >{{row.packed| number}}</td>
                    <td >{{row.failed| number}}</td>
                    </tbody>
                </table>
            </div>


        </div>

    <!--<div class="col s12 m8 112">-->
        <!--<div class="section grey lighten-5 card">-->
            <!--<h2><span style="font-size: x-small"> Most Stocked out and Over Stocked Products</span></h2>-->
            <!--<div style="margin-left: 10px; height: 500px; overflow: scroll">-->
                <!--<table class="striped bordered ">-->
                    <!--<thead >-->
                    <!--<tr style="text-align: center;" >-->
                        <!--<th rowspan="3" >Region </th>-->
                    <!--</tr>-->
                    <!--<tr style="text-align: center;"><th style="text-align: center" colspan="3">Stocked Out</th>-->
                        <!--<th style="text-align: center" colspan="3">Over Stocked </th>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<th>Code</th>-->
                        <!--<th>Name</th>-->
                        <!--<th>Quantity</th>-->
                        <!--<th>Code</th>-->
                        <!--<th>Name</th>-->
                        <!--<th>Quantity</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody ng-repeat="row in commodStatusList  ">-->

                    <!--<tr>-->
                        <!--<td style="text-align: center;" rowspan="6">{{row.name}}</td>-->
                    <!--</tr>-->
                    <!--<tr  ng-repeat="c in row.usList track by $index">-->
                        <!--<td>{{c.productCode}}</td>-->
                        <!--<td>{{c.product}}</td>-->
                        <!--<td>{{c.count}}</td>-->
                        <!--<td>{{row.osList[$index].productCode}}</td>-->
                        <!--<td>{{row.osList[$index].product}}</td>-->
                        <!--<td>{{row.osList[$index].count}}</td>-->
                    <!--</tr>-->
                    <!--<tr><td colspan="7" style="background-color: lightblue;max-height: 3px;"></td></tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
    <!--<div class="col s12 m4 l4">
        <div class="section grey lighten-5 card">
            <div>



            </div>

        </div>
    </div>-->

</div>