<div ng-controller="CommodityStockStatusController" class="row" ng-show="true">
    <div class="col s12 m6 l6">
        <div class="section grey lighten-5 card" style="padding-top: 0rem !important;">
            <h2><span > Most Over Stocked Products</span></h2>
            <table class="striped bordered " >
                <thead>
                <tr>
                    <th style="width:170px !important;">Facility</th>
                    <th style="width:70px !important;">Product</th>
                    <th style="width: 180px;">Mos</th>
                    <th style="width: 73px !important; height: 34px !important;">Quantity</th>

                </tr>
                </thead>
                <tfoot>
                <td colspan="6">
                    <div class="pagination pull-right">
                        <ul>
                            <li ng-class="{disabled: currentPage == 0}">
                                <a href ng-click="prevPage()">« Prev</a>
                            </li>

                            <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
                                ng-class="{active: n == currentPage}"
                                ng-click="setPage()">
                                <a href ng-bind="n + 1">1</a>
                            </li>

                            <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                                <a href ng-click="nextPage()">Next »</a>
                            </li>
                        </ul>
                    </div>
                </td>
                </tfoot>
                <tbody ng-repeat="row in pagedItems[currentPage] ">

                <tr>
                    <td style="text-align: center;" rowspan="6">{{row.name}}</td>
                </tr>
                <tr  ng-repeat="c in row.osList track by $index">
                    <td>{{c.product}}</td>
                    <td>{{c.mos}}</td>
                    <td>{{c.stockInHand}}</td>

                </tr>

                </tbody>

            </table>
        </div>

    </div>
    <div class="col s12 m6 l6">
        <div class="section grey lighten-5 card" style="padding-top: 0rem !important;">
            <h2><span > Most Stocked out Products</span></h2>
            <table class="striped bordered" style="height: 400px; margin: 0 auto;">
                <thead>
                <tr>
                    <th style="width:170px !important;">Facility</th>
                    <th style="width:70px !important;">Product</th>
                    <th style="width: 180px;">Mos</th>
                    <th style="width: 73px !important; height: 34px !important;">Quantity</th>

                </tr>
                </thead>
                <tbody ng-repeat="row in pagedOverStockedItems[currentOverStockedPage] ">

                <tr>
                    <td  rowspan="6">{{row.name}}</td>
                </tr>
                <tr  ng-repeat="c in row.usList track by $index">
                    <td>{{c.product}}</td>
                    <td>{{c.mos}}</td>
                    <td>{{c.stockInHand}}</td>

                </tr>

                </tbody>
                <tfoot>
                <td colspan="6">
                    <div class="pagination pull-right">
                        <ul>

                            <li ng-class="{disabled: currentOverStockedPage == 0}">
                                <a href ng-click="prevOverStockedPage()">« Prev</a>
                            </li>

                            <li ng-repeat="n in range(pagedItems.length, currentOverStockedPage, currentOverStockedPage + gap) "
                                ng-class="{active: n == currentOverStockedPage}"
                                ng-click="nextOverStockedPage()">
                                <a href ng-bind="n + 1">1</a>
                            </li>

                            <li ng-class="{disabled: (currentOverStockedPage) == pagedItems.length - 1}">
                                <a href ng-click="nextOverStockedPage()">Next »</a>
                            </li>
                        </ul>
                    </div>
                </td>
                </tfoot>
            </table>

        </div>

    </div>

</div>