
    <div ng-controller="CommodityStockStatusController" class="col s12 m6 l6">
        <div class="section grey lighten-5 card" style="padding-top: 0rem !important;">
            <h2><span > Most Over Stocked Products</span></h2>
           <div style="padding: 4px;">
            <table class="striped bordered" >
                <thead>
                <tr>
                    <th class="span3">Facility</th>
                    <th class="span6">Product</th>
                    <th class="span1 text-right">MOS</th>
                    <th class="span1 text-right">Quantity</th>

                </tr>
                </thead>
                <tfoot>
                <td colspan="4">
                    <div class="pagination pull-right">
                        <ul>
                            <li ng-class="{disabled: currentPage == 0}">
                                <a href ng-click="prevPage()">« Prev</a>
                            </li>

                            <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
                                ng-class="{active: n == currentPage}"
                                ng-click="setPage()">
                                <a href ng-bind="n + 1">1</a>
                            </li>

                            <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                                <a href ng-click="nextPage()">Next »</a>
                            </li>
                        </ul>
                    </div>
                </td>
                </tfoot>
                <tbody ng-repeat="row in pagedItems[currentPage] ">

                <tr>
                    <td class="offset2" rowspan="6">{{row.name}}</td>
                </tr>
                <tr  ng-repeat="c in row.osList track by $index">
                    <td>{{c.product}}</td>
                    <td class="text-right">{{c.mos}}</td>
                    <td class="text-right">{{c.stockInHand}}</td>
                </tr>

                </tbody>

            </table>
           </div>
        </div>

    </div>


</div>