.inner-tr-height{
height:36px;
}


.rnr-table .table-bordered td:last-child {
    border-right: 1px solid #ddd;
}


.rnr-table .left-table {
    width: 34%;
    max-width: 34%;
}


.rnr-table .right-table {
    width: 65%;
    max-width: 65%;
    border-left: #ccc solid 1px;
}