<style>
h2{
background-color:#17888f;
font-size:10px !important;
color:#fff !important;
}
.row1-height{
height:225px;
padding-top: 0rem !important;
}
.row2-height{
height:355px;
padding-top: 0rem !important;
}
.row3-height{
height:500px;
padding-top: 0rem !important;
}
.section{
margin-left:20px;
}
.accordion{
background:#fff;
}
    .orderFillRate .col {
        padding: 0px 0.25rem !important;
    }

    #stock_status_map {
        height: 400px;
        margin: 0 auto;
    }

    #indicator {
        margin-top: -1rem;
    }

    i.icon-red {
        color: red;
    }

    i.icon-yellow {
        color: orange;
    }

    i.icon-green {
        color: green;
    }

    .orderFillRate .col .section {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }

    td, th {
        padding: 7px 0px !important;
        font-size: smaller;

    }

    .collection .collection-item {
        width: 120px;
        padding: 0px 0px !important;
    }

    .row {
        margin-left: auto !important;
        margin-bottom: 0px !important;
    }

    #tab, ul {
        padding: 0px 5px 0px !important;

    }

    .content {
        padding: 0px 5px 0px !important;
        margin: 0px 0px 0px !important;
    }

    .nav {
        margin-bottom: 0px !important;
    }

    #order {
        padding-bottom: 0px !important;

    }

    .modal {
        width: 50% !important;
        margin-top: 10px !important;
/*
        margin-left: 400px !important;
*/
        background: 0 !important;
        max-height: 50% !important;
    }

    .modal .modal-content {
        padding: 30px !important;
    }
    .odd-row{
     background-color: lightblue;
    }
</style>
<div id="tab">

    <ul class="nav nav-pills">
        <li class="active" ng-show="false">
            <a href="#summary" data-toggle="tab"></a>
        </li>
        <li class="active" ng-show="false">
            <a href="#otherTabs" data-toggle="tab"></a>
        </li>
    </ul>

    <div class="tab-content clearfix">

        <div class="tab-pane active" id="summary">
            <div class="accordion">
                <div class="pull-left "> <span style="font-size: 12px">National Supply Chain Indicator , {{displayCurrentDate}}</span></div>
                <div class="pull-right control-accordion">
                    <a id="expandAll" href="javascript:void(0);" onClick="accordion.expandCollapse('expand')"
                       openlmis-message="label.expand.all"></a> / <a
                        id="collapseAll"
                        href="javascript:void(0);"
                        onClick="accordion.expandCollapse('collapse')" openlmis-message="label.collapse.all"></a>
                </div>
                <div class="clearfix"></div>
                <div class="accordion-section">
                    <div   class="accordion-heading" onClick="accordion.expandCollapseToggle(this)">
                   <span>
                    <b>-</b>
                    <a id="overview" href="javascript:void(0);"
                    >Overview </a>
                  </span>
                    </div>
                    <div class="accordion-body" style="display:block">

                        <div class="row orderFillRate" ng-show="orderFillRateByZone.zones.length >0">
                            <div  onClick="accordion.expandDetail('accordion-fill-rate')" class="col s12 m4 l4">

                                <div class="section grey lighten-5 card row1-height" style="padding-top: 0rem !important;">
                                    <h2><span style="font-size: x-small">National Order Fill Rate %</span></h2>

                                    <div class="col s12">

                                        <div class="section" style="padding-top: 0rem !important;">

                                    <span ng-show="true"><span style="font-size: x-small">Keys</span>

                                   <a href="#!"><i class="tiny material-icons icon-green">lens</i> </a>
                                        <span style="font-size: x-small"> Good >=80%</span>
                                   <a href="#!"><i class="tiny material-icons icon-yellow">lens</i></a>
                                        <span style="font-size: x-small"> Normal >69%</span>
                                   <a href="#!"><i class="tiny material-icons icon-red">lens</i></a>
                                        <span style="font-size: x-small"> Bad <70%</span></span>
                                            <div id="container-order-fill-rate" style="height: 120px; margin:0 auto"></div>





                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div  class="col s12 m4 l4">
                                <div class="section grey lighten-5 card row1-height" style="padding-top: 0rem !important;">
                                    <h2><span ng-if="true" style="font-size: x-small;">Stock Availability</span></h2>

                                    <div class="col s12">

                                        <div class="section">

                                            <div id="stock-availability" style="height: 120px; margin:0 auto"></div>



                                        </div>

                                    </div>



                                </div>
                            </div>
                            <div class="col s12 m4 l4">
                                <div class="section grey lighten-5 card row1-height" style="padding-top: 0rem !important;">
                                    <h2><span style="font-size: x-small">Reporting Rate</span></h2>

                                    <div class="col s12">

                                        <div class="section">
                                            <!--  <ul>
                                                  <li class="collection-item"><i class="tiny material-icons icon-green">lens</i>&nbsp;&nbsp;<span style="font-size: x-small">Good Performance</span> </li>
                                                  <li class="collection-item"><i class="tiny material-icons icon-yellow">lens</i>&nbsp;&nbsp;<span style="font-size: x-small">Good Performance</span> </li>
                                                  <li class="collection-item"><i class="tiny material-icons icon-red">lens</i>&nbsp;&nbsp;<span style="font-size: x-small">Bad Performance</span> </li>
                                              </ul>-->
                                            <div id="reporting-rate" style="height: 120px; margin:0 auto"></div>


                                        </div>

                                    </div>




                                </div>
                            </div>

                        </div>
                        <div class="row orderFillRate"  >

                            <div class="col s12 m4 l4">
                                <div class="section grey lighten-5 card row2-height row1-height">
                                    <h2>R&R Status Summary</h2>
                                    <div id="rnrSummary" style="margin:0 auto"></div>
                                </div>

                            </div>
                            <div class="col s12 m4 l4">
                                <div class="section grey lighten-5 card row2-height row1-height">
                                   <h2>Provinces with Most Emergency Orders (Past 3 Months)</h2>

                                    <div>
                                        <span style="font-size: x-small;top: 0px !important;color: #0c9083;text-align: center"></span>

                                        <div id="emergencyByRegion" style="height: 300px;margin:0 auto "></div>
                                        <div id="addText" style="left:0px; top:0px;"></div>
                                    </div>


                                </div>

                            </div>
                            <div class="col s12 m4 l4">
                                <div class="section grey lighten-5 card row2-height row1-height">
                                    <h2>Trend of Emergency Orders Submitted Per Month </h2>
                                    <div>
                                        <div id="trendOfEmergencyOrder" style="height: 300px;margin:0 auto "></div>
                                    </div>


                                </div>

                            </div>
                        </div>
                        <div class="row itemFillRate">
                            <div class="col s12 m6 l4">
                                <div class="section grey lighten-5 card row3-height">
                                    <h2><span style="font-size: x-small" class="ng-binding">Reporting Rate</span></h2>
                                    <div style="height: 500px; overflow: scroll;" ng-show="features && (features | filter:expectedFilter).length > 0">

                                        <table class="striped">
                                            <thead>
                                            <tr style="margin-bottom: 20px">
                                                <th style="width:35%" openlmis-message="label.district"></th>
                                                <th style="width:10%" class="number" openlmis-message="label.expected"></th>
                                                <th style="width:10% !important;" class="number"
                                                    openlmis-message="label.reported"></th>
                                                <th style="width: 30%; text-align: right"
                                                    openlmis-message="label.percent.reported"></th>
                                            </tr>
                                            <!--<tr><th colspan="4">&nbsp;</th></tr>-->
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="feature in features | filter:expectedFilter">
                                                <td style="width:35% !important;">{{feature.name}}</td>
                                                <td style="width:10% !important;" class="number">{{feature.expected}}</td>
                                                <td style="width:10% !important;" class="number">{{feature.period}}</td>
                                                <td style="width:30% !important;" class="number">
                                                    <div class="number" style="float:right;">{{((feature.period / feature.expected)
                                                        * 100).toFixed(0)}} %
                                                    </div>
                                                    <div class="progress" style="margin-bottom:0px;width:68%">
                                                        <div class="bar bar-success leaflet-clickable"
                                                             ng-click="onDetailClicked(feature, this)"
                                                             style="width: {{((feature.period / feature.expected) * 100).toFixed(2)}}%"></div>
                                                        <div class="bar bar-danger leaflet-clickable"
                                                             ng-click="onDetailClicked(feature, this)"
                                                             style="width: {{(100 - ((feature.period / feature.expected) * 100).toFixed(2))}}%"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                </div>

                            </div>
                            <div class="col s12 m4 l4">
                                <div class="section grey lighten-5 card row3-height">
                                    <h2>Emergency Order By Program (Past 1 Month)</h2>
                                    <div>
                                        <div id="emergencySubmittedByProgram" style="height: 300px;margin:0 auto "></div>
                                    </div>

                                </div>
                            </div>
                            <div class="col s12 m4 l4 ">
                                <div class="section grey lighten-5 card row3-height">
                                    <h2>Lab Equipment Status </h2>
                                    <div>
                                        <div id="equipmentStatusContainer" style="height: 300px;margin:0 auto "></div>

                                        <!--
                                                                    <div id="emergencyTrend" style="height: 300px;margin:0 auto "></div>
                                        -->

                                    </div>

                                </div>
                            </div>
                    </div>
                </div>
                </div>

                <div id="accordion-fill-rate"  class="accordion-section accordion-fill-rate">
                <div class="accordion-heading" onClick="accordion.expandCollapseToggle(this)">
                   <span>
                    <b>+</b>
                    <a id="programSchedules" href="javascript:void(0);"
                      >Region Group</a>
                  </span>
                </div>
                    <div class="accordion-body">

            <div class="row orderFillRate" ng-show="orderFillRateByZone.zones.length >0">
                <div class="col s12 m4 l4">

                    <div class="section grey lighten-5 card" style="padding-top: 0rem !important;">
                        <h2><span style="font-size: x-small">National Order Fill Rate %</span></h2>

                        <div class="col s12">

                            <div class="section" style="padding-top: 0rem !important;">

                                    <span ng-show="true"><span style="font-size: x-small">Keys</span>

                                   <a href="#!"><i class="tiny material-icons icon-green">lens</i> </a>
                                        <span style="font-size: x-small"> Good >=80%</span>
                                   <a href="#!"><i class="tiny material-icons icon-yellow">lens</i></a>
                                        <span style="font-size: x-small"> Normal >69%</span>
                                   <a href="#!"><i class="tiny material-icons icon-red">lens</i></a>
                                        <span style="font-size: x-small"> Bad <70%</span></span>





                            </div>

                        </div>
                        <div class="col s12">
                            <div style="height: 425px; overflow: scroll;" class="section grey lighten-3" style="padding-top: 0rem !important;">

                                <table class="striped bordered">
                                    <thead>
                                    <tr>
                                        <th>Zone</th>
                                        <th>Previous<br> Month</th>
                                        <th>Current <br>Month</th>
                                        <th>Status</th>
                                        <th>Progress</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="report in orderFillRateByZone.zones">
                                        <td>{{report.name}}</td>
                                        <td>{{report.prev}}%</td>
                                        <td>{{report.current}}%</td>
                                        <td ng-show="report.current >=80"><a href="#!"><i
                                                class="tiny material-icons icon-green">lens</i></a>
                                        </td>
                                        <td ng-show="report.current >=60  && report.current <=79"><a href="#!"><i
                                                class="tiny material-icons icon-yellow">lens</i></a></td>
                                        <td ng-show="report.current < 60"><a href="#!"><i
                                                class="tiny material-icons icon-red">lens</i></a>
                                        </td>
                                        <td ng-show="report.current > report.prev"><a href="#!"><i
                                                class="tiny material-icons icon-green">trending_up</i></a></td>
                                        <td ng-show="report.current == report.prev"><a href="#!"><i
                                                class="tiny material-icons icon-yellow">forward</i></a></td>
                                        <td ng-show="report.current < report.prev"><a href="#!"><i
                                                class="tiny material-icons icon-red">trending_down</i></a>
                                        </td>

                                    </tr>

                                    </tbody>

                                </table>


                            </div>
                        </div>
                    </div>
                </div>
                <div  class="col s12 m4 l4">
                    <div class="section grey lighten-5 card" style="padding-top: 0rem !important;">
                        <h2><span ng-if="true" style="font-size: x-small;">Stock Availability</span></h2>

                        <div class="col s12">

                            <div class="section" style="padding-top: 0rem !important;">

                                    <span ng-show="true"><span style="font-size: x-small">Keys</span>

                                   <a href="#!"><i class="tiny material-icons icon-green">lens</i> </a>
                                        <span style="font-size: x-small"> Good >=80%</span>
                                   <a href="#!"><i class="tiny material-icons icon-yellow">lens</i></a>
                                        <span style="font-size: x-small"> Normal >69%</span>
                                   <a href="#!"><i class="tiny material-icons icon-red">lens</i></a>
                                        <span style="font-size: x-small"> Bad <70%</span></span>





                            </div>

                        </div>
                        <div style="height: 425px; overflow: scroll;" class="col s12">
                            <div class="section grey lighten-3">

                                <table class="striped bordered">
                                    <thead>
                                    <tr>

                                                                                <th>Zone</th>

                                        <th>Previous<br> Month</th>
                                        <th>Current <br>Month</th>
                                        <th>Status</th>
                                        <th>Progress</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="report in stockAvailability.zones">

                                                                                <td>{{report.name}}</td>

                                        <td>{{report.prev}}%</td>
                                        <td>{{report.current}}%</td>
                                        <td ng-show="report.current >=80"><a href="#!"><i
                                                class="tiny material-icons icon-green">lens</i></a>
                                        </td>
                                        <td ng-show="report.current >=60  && report.current <=79"><a href="#!"><i
                                                class="tiny material-icons icon-yellow">lens</i></a></td>
                                        <td ng-show="report.current < 60"><a href="#!"><i
                                                class="tiny material-icons icon-red">lens</i></a>
                                        </td>
                                        <td ng-show="report.current > report.prev"><a href="#!"><i
                                                class="tiny material-icons icon-green">trending_up</i></a></td>
                                        <td ng-show="report.current == report.prev"><a href="#!"><i
                                                class="tiny material-icons icon-yellow">forward</i></a></td>
                                        <td ng-show="report.current < report.prev"><a href="#!"><i
                                                class="tiny material-icons icon-red">trending_down</i></a>
                                        </td>

                                    </tr>

                                    </tbody>

                                </table>


                            </div>
                        </div>


                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="section grey lighten-5 card" style="padding-top: 0rem !important;">
                        <h2><span style="font-size: x-small">Reporting Rate</span></h2>


                        <div class="col s12">

                            <div class="section" style="padding-top: 0rem !important;">

                                    <span ng-show="true"><span style="font-size: x-small">Keys</span>

                                   <a href="#!"><i class="tiny material-icons icon-green">lens</i> </a>
                                        <span style="font-size: x-small"> Good >=80%</span>
                                   <a href="#!"><i class="tiny material-icons icon-yellow">lens</i></a>
                                        <span style="font-size: x-small"> Normal >69%</span>
                                   <a href="#!"><i class="tiny material-icons icon-red">lens</i></a>
                                        <span style="font-size: x-small"> Bad <70%</span></span>





                            </div>

                        </div>

                        <div class="col s12">
                            <div style="height: 425px; overflow: scroll;" class="section grey lighten-3">

                                <table class="striped bordered">
                                    <thead>
                                    <tr>

                                                                                <th>Zone</th>

                                        <th>Previous<br> Month</th>
                                        <th>Current <br>Month</th>
                                        <th>Status</th>
                                        <th>Progress</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="report in reportingRate.zones">

                                                                                <td>{{report.name}}</td>

                                        <td>{{report.prev}}%</td>
                                        <td>{{report.current}}%</td>
                                        <td ng-show="report.current >=80"><i
                                                class="tiny material-icons icon-green">lens</i>
                                        </td>
                                        <td ng-show="report.current >=60  && report.current <=79"><i
                                                class="tiny material-icons icon-yellow">lens</i></td>
                                        <td ng-show="report.current < 60"><i
                                                class="tiny material-icons icon-red">lens</i>
                                        </td>
                                        <td ng-show="report.current > report.prev"><i
                                                class="tiny material-icons icon-green">trending_up</i></td>
                                        <td ng-show="report.current == report.prev"><i
                                                class="tiny material-icons icon-yellow">forward</i></td>
                                        <td ng-show="report.current < report.prev"><i
                                                class="tiny material-icons icon-red">trending_down</i>
                                        </td>

                                    </tr>

                                    </tbody>

                                </table>


                            </div>
                        </div>


                    </div>
                </div>

            </div>

            <div class="row" ng-show="false">
                <div class="col s12 m6 l6">

                    <div class="section grey lighten-5 card">

                        <div id="stock_status_map"></div>
                    </div>

                </div>
                <div class="col s12 m6 l6">
                    <div class="section grey lighten-5 card">
                        <table class="table" id="indicator">
                            <tr>
                                <td bgcolor="#dd514c">Stocked Out</td>
                                <td bgcolor="#faa732">Under Stocked</td>
                                <td bgcolor="#4bb1cf">Over Stocked</td>
                                <td bgcolor="#5eb95e">Adequately Stocked</td>
                            </tr>
                        </table>
                        <table class="table table-striped " style="height: 400px; margin: 0 auto;">
                            <thead>
                            <tr>
                                <th style="width:170px !important;">Product</th>
                                <th style="width:70px !important;">Reported</th>
                                <th style="width: 180px;">Status</th>
                                <th style="width: 73px !important; height: 34px !important;">% Stocked Out</th>
                                <th style="width: 45px;">Check</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="product in products | filter:expectedProductFilter">
                                <td style="width:170px !important;">{{product.primaryname}}</td>
                                <td style="width:70px !important;" class="number">{{product.reported}}</td>
                                <td style="width:180px !important;" class="number">
                                    <div class="progress" style="margin-bottom:0px;width:180px;height: 20px">
                                        <div class="bar bar-danger leaflet-clickable"
                                             ng-click="StockedOutProducts(product,this);"
                                             style="width: {{((product.stockedout / product.reported) * 100)}}%">
                                            {{product.stockedout}}
                                        </div>
                                        <div class="bar bar-warning leaflet-clickable"
                                             ng-click="UnderStockedProducts(product, this)"
                                             style="width: {{((product.understocked / product.reported) * 100)}}%">
                                            {{product.understocked}}
                                        </div>
                                        <div class="bar bar-info leaflet-clickable"
                                             ng-click="OverStockedProducts(product, this)"
                                             style="width: {{((product.overstocked / product.reported) * 100)}}%">
                                            {{product.overstocked}}
                                        </div>
                                        <div class="bar bar-success leaflet-clickable"
                                             ng-click="AdequatelyStockedProducts(product, this)"
                                             style="width: {{(100 - (((product.stockedout + product.understocked + product.overstocked)/ product.reported) * 100))}}%">
                                            {{ (product.reported - (product.stockedout + product.understocked +
                                            product.overstocked)) }}
                                        </div>
                                    </div>
                                </td>
                                <td style="width: 91px !important;" class="number">{{((product.stockedout /
                                    product.reported) * 100).toFixed(0)}} %
                                </td>
                                <td style="width:45px"><input type="checkbox" ng-model="product.selected"
                                                              ng-change="productSelectChange(product.selected, product)">
                                </td>
                            </tr>
                            </tbody>
                        </table>


                    </div>

                </div>

            </div>
            <div class="row" ng-show="false">
                <div class="col s12 m6 l6">
                    <div class="section grey lighten-5 card">

                        <div id="container1"
                             style="height: 500px; min-width: 310px; max-width: 480px; margin: 0 auto"></div>

                    </div>

                </div>
                <div class="col s12 m6 l6">
                    <div class="section grey lighten-5 card">
                        <div style="" ng-show="features && (features | filter:expectedFilter).length > 0">

                            <div id="container"
                                 style="min-width: 310px; max-width:480px; height: 500px; margin: 0 auto"></div>
                        </div>

                    </div>

                </div>


            </div>
            <div class="row orderFillRate">
                <div class="col s12 m6 l6">
                    <div class="section grey lighten-5 card">
                        <h2><span style="font-size: x-small" class="ng-binding">Reporting Rate</span></h2>
                        <leaflet width="100%" height="500px" legend="legend" geojson="geojson"
                                 layers="layers"></leaflet>

                    </div>

                </div>
                <div class="col s12 m6 l6">
                    <div class="section grey lighten-5 card">
                        <h2><span style="font-size: x-small" class="ng-binding">Reporting Rate</span></h2>
                        <div style="height: 500px; overflow: scroll;" ng-show="features && (features | filter:expectedFilter).length > 0">

                            <table class="striped">
                                <thead>
                                <tr style="margin-bottom: 20px">
                                    <th style="width:35%" openlmis-message="label.district"></th>
                                    <th style="width:10%" class="number" openlmis-message="label.expected"></th>
                                    <th style="width:10% !important;" class="number"
                                        openlmis-message="label.reported"></th>
                                    <th style="width: 30%; text-align: right"
                                        openlmis-message="label.percent.reported"></th>
                                </tr>
                                <!--<tr><th colspan="4">&nbsp;</th></tr>-->
                                </thead>
                                <tbody>
                                <tr ng-repeat="feature in features | filter:expectedFilter">
                                    <td style="width:35% !important;">{{feature.name}}</td>
                                    <td style="width:10% !important;" class="number">{{feature.expected}}</td>
                                    <td style="width:10% !important;" class="number">{{feature.period}}</td>
                                    <td style="width:30% !important;" class="number">
                                        <div class="number" style="float:right;">{{((feature.period / feature.expected)
                                            * 100).toFixed(0)}} %
                                        </div>
                                        <div class="progress" style="margin-bottom:0px;width:68%">
                                            <div class="bar bar-success leaflet-clickable"
                                                 ng-click="onDetailClicked(feature, this)"
                                                 style="width: {{((feature.period / feature.expected) * 100).toFixed(2)}}%"></div>
                                            <div class="bar bar-danger leaflet-clickable"
                                                 ng-click="onDetailClicked(feature, this)"
                                                 style="width: {{(100 - ((feature.period / feature.expected) * 100).toFixed(2))}}%"></div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>


            </div>
                </div>
                </div>

                <div class="accordion-section">
                    <div class="accordion-heading" onClick="accordion.expandCollapseToggle(this)">
                   <span>
                    <b>+</b>
                    <a id="thirdGroup" href="javascript:void(0);"
                    >Second Group</a>
                  </span>
                    </div>
                    <div class="accordion-body">
            <div class="row orderFillRate" ng-show="true">
                <div class="col s12 m4 l7">
                    <div class="section grey lighten-5 card">
                        <!--

                        -->

                        <div>
                            <span style="font-size: x-small;top: 0px !important;color: #0c9083;text-align: center">Provinces with Most Emergency Orders (Past 3 Months)</span>

                            <div id="emergencyByRegion" style="height: 300px;margin:0 auto "></div>
                            <div id="addText" style="left:0px; top:0px;"></div>
                        </div>


                    </div>

                </div>
                <div class="col s12 m4 l5">
                    <div class="section grey lighten-5 card">
                        <span style="font-size: x-small;top: 0px !important;">.</span>
                        <div>
                            <div id="emergencyByProgram" style="height: 300px;margin:0 auto "></div>
                        </div>

                    </div>
                </div>

            </div>



            <div class="row orderFillRate">
                <div class="col s12 m6 l12">
                    <div class="section grey lighten-5 card">
                        <div id="rejectionCountId" style="height: 300px; margin:0 auto"></div>

                    </div>
                </div>
            </div>
                </div>
                </div>

            <div class="accordion-section">
                <div class="accordion-heading"onClick="accordion.expandCollapseToggle(this)">
                   <span>
                    <b>+</b>
                    <a id="fourthGroup" href="javascript:void(0);">Fourth Group</a>
                  </span>
                </div>
                <div class="accordion-body">
            <ng-include src="'/public/pages/dashboard/new-partials/slide-daily-stock-status.html'"></ng-include>
            <ng-include src="'/public/pages/dashboard/new-partials/slide-commodity-stock-status.html'"></ng-include>
                </div>
            </div>
            </div>
    </div>

</div>

<div id="modal12" class="modal" ng-if="modal12=true;">

    <div class="modal-content">
        <h2>Expected data to be shown here</h2>
        <table class="table table-bordered striped">

            <thead>
            <tr>
                <th>#</th>
                <th>Column</th>
                <th>Column</th>
            </tr>
            </thead>

            <tbody id="tbody">
            <tr ng-repeat="facility in facilityList">
                <td>{{$index+1}}</td>
                <td>{{facility.name}}</td>
                <td>{{facility.totalquantityonhand}}</td>
            </tr>

            </tbody>


        </table>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>

    </div>


</div>
</div>