<div ng-hide="!show" class="comments-popup comments-popup2" ng-class="{'view': !updatable}">

  <!--
    ~ This program is part of the OpenLMIS logistics management information system platform software.
    ~ Copyright © 2013 VillageReach
    ~
    ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
    ~  
    ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
    ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org. 
   -->

  <h4>
    <span>Add Supplimental Funds</span>
    <a href="" ng-click="show=false; comment=''" class="link-minimize">
      <i id="commentClose" class="icon-remove"></i>
    </a>
  </h4>
  <div class="clearfix"></div>
  <br/>


    <div class="adjustment-field" ng-hide="showSource">

      <div class="row-fluid">
        <div class="span5">
          <select style="width: 150px !important;"
                  ng-model="sourceOfFund.name"
                  ng-options="i as i.name for i in fundingSources">
            <option value="">Select Source</option>
          </select>
        </div>
        <div class="span3">
          <input style="width: 116px !important;" ng-disabled="formDisabled || sourceOfFund.skipped" ng-trim="false"
                 type="text" name="quantity{{currentRnrLineItem.id}}" ng-model="sourceOfFund.quantity"
                 numeric-validator="positiveInteger" maxlength="8" openlmis-message="placeholder.quantity"/>

          <div class="rnr-form-error"
               id="quantity{{currentRnrLineItem.id}}"
               style="display:none;" openlmis-message="error.number.only">
          </div>
        </div>
        <div class="span4">
        <span class="pull-right">
           <input type="button" id="addLossesAndAdjustment1"
                  ng-click="addAdFundingSource(sourceOfFund)"
                  ng-disabled="!(sourceOfFund.name && sourceOfFund.quantity)"
                  class="btn btn-primary"
                  openlmis-message="button.add"/>

        </span>

        </div>
      </div>


<!--
      <hr ng-show="sourceOfFunds.length > 0"/>
-->
      <div class="adjustment-list" ng-show="sourceOfFunds.length > 0" style="max-height: 140px !important;">
          <ul>
          <li ng-repeat="adjustment in sourceOfFunds"
              class="clearfix">
          <span class="tpl-adjustment-type">{{adjustment.name}}</span>

            <span class="tpl-adjustment-qty">
            <input ng-required="true"
                   ng-disabled="formDisabled || currentRnrLineItem.skipped"
                   name="{{adjustment.quantity}}"
                   type="text"
                   ng-model="adjustment.quantity"
                   openlmis-message="placeholder.quantity"
                   ng-change="updateTotal();reEvaluateTotalSourceOfFund(); resetModalErrorAndSetFormDirty()"
                   numeric-validator="positiveInteger"
                   maxlength="8"
                   ng-class="highlightRequiredFieldInModal(adjustment.quantity)"
                   keyboard="true"
            />
          </span>

            <span class="pull-right">
            <a href="" class="close"
               ng-hide="formDisabled || currentRnrLineItem.skipped"
               ng-click="removeSourceOfFund(adjustment)">&times;</a>
          </span>

          </li>
        </ul>
      </div>


      <div class="adjustment-total clearfix alert alert-warning"
           ng-show="sourceOfFunds.length > 0">
        <span class="pull-left" openlmis-message="label.losses.total"></span><span
      ng-bind="totalLossesAndAdjustments"></span>
      </div>

      <div class="modal-footer">
        <input type="button" id="lossesAndAdjustmentsDone1" class="btn btn-primary save-button"
               ng-click="saveSourceOfFundLineItem()"
               openlmis-message="button.done"/>
        <!--   <input type="button"
                  ng-click="closeModal();"
                  class="btn btn-cancel"
                  openlmis-message="button.cancel"/>-->

      </div>


    </div>

  <span class="beak-down"></span>
</div>