<style>

 .rnr-table {

    overflow: 0 !important;
}

</style>
<div id="requisition-header" class="toggleFullScreen">
    <h2>
    <span id='requisitionHeaderLabel'>
        Monitoring Form
    </span>
    </h2>
    <div class="info-box padding2px">

        <div class="requisition-head-block">
            <div class="row-fluid" id="requisition-head-block">
                <div class="span3">
                    <strong id='facilityLabel' openlmis-message="label.region"> </strong>:&nbsp;<span
                        id='facility' ng-bind="report.facility.geographicZone.parent.name"></span>
                </div>
                <div class="span3">
                    <strong id='operatedByLabel'>Council</strong>: &nbsp;<span
                        id='operatedBy' ng-bind="report.facility.geographicZone.name"></span>
                </div>

                <div class="span3">
                    <strong id='emergencyOrderLabel'><span>Reported Date</span></strong>:
                    &nbsp;<span
                        id='emergencyOrderPoint'>

                     <input ng-disabled="!report.editable"
                            type="text"
                            style="width: 140px; height:15px"
                            ng-model="report.reportedDate"
                            ui-date="{dateFormat: 'dd/mm/yy', minDate: report.period.stringStartDate, maxDate: 'today', changeYear: false}"
                            ui-date-format="yy-mm-dd"
                            readonly
                            ng-required="true"
                     />


                </span>
                </div>

                <div class="span3">
                    <strong id='reportingPeriodLabel'>Number of Staff (CTC)</strong>:&nbsp;<span
                        id='reportingPeriod'><input  ng-disabled="!report.editable" type="text" style="width:100px" ng-model="report.numberOfStaff"/></span>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span3">
                    <strong><span id='geographicZoneLabel' >Name of HIDTU’s</span>:
                    </strong><span><span  ng-disabled="!report.editable" style="width:180px" ng-bind="report.facility.name"/></span>
                </div>
                <div class="span3">
                    <strong><span id='parentLevelLabel'>Number of HIDTU’s</span>:
                    </strong><span
                        id='parentLevel'><input  ng-disabled="!report.editable" type="text" style="width:120px" ng-model="report.numberOfHidTu"/></span>
                </div>

                <div class="span3">
                    <strong id='sourceLabel' >Number of Patients</strong>:&nbsp;<span
                        id='source'><input  ng-disabled="!report.editable" ng-change="changeCummulativeCases(report)" type="text" style="width:120px" ng-model="report.patientOnTreatment"/></span>
                </div>
                <div class="span3">
                    <strong id='caseLabel' >Number of Cumulative cases</strong>:&nbsp;<span
                        id='case' ng-bind="report.numberOfCumulativeCases"></span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div>

        <div class="rnr-table">

            <h2></h2>
            <div adjust-height bottom-offset="180" tab-scroll>
                <div class="float-left right-table  parent" style=" width:100% !important;   max-width: 100% !important; overflow: false !important;">
                    <table class="table table-bordered" fixed-table-header  id="notFrozen">
                        <thead>
                        <tr style="height: 55px;">
                            <th>
                                <span>MSD Item Code</span>
                            </th>

                            <th>
                                <span openlmis-message="label.vaccine.stock.status.product"></span>
                            </th>
                            <th>
                                <span openlmis-message="label.unit.of.measure"></span>
                            </th>
                            <th>
                                <span>In stock at Council level</span>
                            </th>

                            <th>
                                <span>Requested</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style="height: 31px;" class="productCategory" ng-repeat-start="product in report.lineItems"
                            ng-show="$index == 0 || ( $index > 0 && product.productCategories.name != report.lineItems[$index - 1].productCategories.name)">
                            <td colspan="14">{{product.productCategories.name}}</td>
                        </tr>
                        <tr style="height: 36px;" ng-repeat-end>
                            <td class="cell-input">
                                <span class="cell-text">{{product.products.code}}</span>
                            </td>

                            <td class="cell-input">
                                <span class="cell-text">{{product.product}}</span>
                            </td>
                            <td class="cell-input">
                                <span class="cell-text">{{product.products.dosageUnit.code}}</span>
                            </td>

                            <td class="cell-input col-beginningBalance" >

            <span
                    class="input-error-parent-cell">
                    <input   ng-disabled="!report.editable"
                            ng-required="true"
                            maxlength="8"
                            ng-model="product.stockOnHand"
                            numeric-validator="positiveInteger"
                            type="text"/>
            </span>
                            </td>

                            <td class="cell-input col-beginningBalance">
            <span
                    class="input-error-parent-cell">
              <input  ng-disabled="!report.editable"
                      maxlength="8"
                      ng-model="product.quantityRequested"
                      numeric-validator="positiveInteger"
                      type="text"/>
            </span>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-show="false" class="float-left right-table parent" custom-horizontal-scroll>
                    <table class="table table-bordered" fixed-table-header id="notFrozen">
                        <thead>
                        <tr style="height: 55px;">
                            <th ng-if="false" ng-repeat-start="column in report.columnTemplate"></th>
                            <th class="span1" ng-repeat-end="">
                                {{column.label}}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="productCategory" ng-repeat-start="product in report.lineItems"
                            ng-show="$index == 0 || ( $index > 0 && product.productCategories.name != report.lineItems[$index - 1].productCategories.name)">
                            <td colspan="14">&nbsp;</td>
                        </tr>
                        <tr ng-repeat-end>
                            <td ng-if="false" ng-repeat-start="column in report.columnTemplate"></td>
                            <td class="cell-input col-beginningBalance" ng-if="column.name == 'stockOnHand'">

            <span
                    class="input-error-parent-cell">
              <input
                      ng-required="true"
                      ng-class="highlightRequired(report.validate, product[column.name], product.skipped)"

                      maxlength="8"
                      ng-model="product.stockOnHand"
                      numeric-validator="positiveInteger"
                      type="text"/>
            </span>
                            </td>

                            <td class="cell-input col-beginningBalance" ng-if="column.name == 'quantityRequested'">
            <span
                    class="input-error-parent-cell">
              <input
                      maxlength="8"
                      ng-model="product.quantityRequested"
                      numeric-validator="positiveInteger"
                      type="text"/>
            </span>
                            </td>
                            <td ng-if="false" ng-repeat-end=""></td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>



    </div>






</div>


<div form-toolbar id="action_buttons" class="action-buttons">
    <div class="form-cell button-row">
        <input id="saveButton" type="submit" id="approve-button" class="btn btn-primary save-button"
               openlmis-message="button.approve" ng-click="approve()"/>
        <input id="submitButton" ng-show="false" type="submit" class="btn btn-danger save-button"
               openlmis-message="button.reject" ng-click="rejectDialog=true;"/>
        <input id="cancelButton" type="button" class="btn btn-cancel cancel-button"
               openlmis-message="button.cancel"
               ng-click="cancel()"/>
    </div>

    <div class="toolbar-error" id="saveErrorMsgDiv">
        <span openlmis-message="error" ng-show="error"></span>&nbsp;
        <span ng-show="errorProgram" ng-bind="errorProgram"></span>
    </div>
    <div class="toolbar-success" id="saveSuccessMsgDiv" openlmis-message="message" ng-show="message"></div>
</div>