<script type="text/ng-template" id="categoryTree">
    <li ng-class="{'has-children': category.items.length>0}">
        <span ng-if="category.isMenuItem"><a href="javascript: void(0);">{{ category.name }}</a></span>
        <span ng-if="!category.isMenuItem"><a ng-click="loadMetabasePage(category)" href="/public/pages/dashboard/index_metabase.html#/dashboard" >{{ category.name }}</a></span>
    </li>
    <div class="submenu">
        <ul ng-if="category.items">
            <li ng-repeat="category in category.items" ng-include="'categoryTree'">
            </li>
        </ul>
    </div>
    </li>
</script>
<ul>
    <li class="has-children" ng-repeat="category in metabaseMenuTree" ng-include="'categoryTree'"></li>
</ul>
