
<div class="manage-nav" ng-controller="ManageMenuController">
    <ul class="clearfix">
        <li ng-class="siteSelected">
            <a id="siteTab" href="/public/pages/warehouse-management/site/index.html"
            >Site</a>
        </li>

        <li ng-class="warehouseSelected">
            <a id="warehouseTab" href="/public/pages/warehouse-management/warehouse/index.html"
            >Warehouse</a>
        </li>
        <li ng-class="locationSelected">
            <a id="locationTab" href="/public/pages/warehouse-management/location/index.html"
            >Bin Location</a>
        </li>
    </ul>
</div>


<!--
  ~ This program is part of the OpenLMIS logistics management information system platform software.
  ~ Copyright © 2013 VillageReach
  ~
  ~  This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  ~  You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org.
  -->

<div xmlns="http://www.w3.org/1999/html">
    <h2>
        <span id="searchGeoZoneHeader" >Search Site</span>
        <a id="add-new-geo-zone" href="#/create" class="pull-right btn btn-primary"
           openlmis-message="button.add.new"></a>
    </h2>
    <div class="alert alert-success" id="deleteSuccessMsgDiv" ng-show="message">
        <span ng-bind="message"></span>&nbsp;&nbsp;
    </div>
    <div class="alert alert-error" id="deleteErrorMsgDiv" ng-show="error">
        <span ng-bind="error"></span>&nbsp;&nbsp;
    </div>

    <div id="searchControl" class="row-fluid">
        <div class="span5 search-in-category">
            <div class="input-append input-prepend">
                <div class="btn-group">
                    <button id='searchOptionButton' class="btn dropdown-toggle">
                        <span id="selectedSearchOption" openlmis-message="selectedSearchOption.name"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="searchOption in searchOptions">
                            <a id="searchOption{{$index}}" href="" openlmis-message="searchOption.name"
                               ng-click="selectSearchType(searchOption)"></a>
                        </li>
                    </ul>
                </div>
                <input id='searchLocation' type="text" class="span5" ng-model="query" maxlength="50"
                       ng-keydown="triggerSearch($event)" autocomplete="off"/>
                <button class="btn" ng-click="search(1)">
                    <i id='searchIcon' class="icon-search"></i>
                </button>
            </div>
        </div>

    </div>

    <div class="table-container">
        <table name="searchResultTable" class="table table-striped table-bordered search-list" ng-show="showResults">
            <thead>
            <tr class="gradient-header resultCountHeader">
                <th colspan="7">
            <span ng-switch on="totalItems">
            <h3 id="noResultMessage" ng-switch-when="0" openlmis-message="msg.no.matches|searchedQuery"></h3>
            <h3 id="oneResultMessage" ng-switch-when="1" openlmis-message="msg.one.match|searchedQuery"></h3>
            <h3 id="nResultsMessage" ng-switch-default
                openlmis-message="msg.many.matches|totalItems|searchedQuery"></h3>
              </span>
                    <a id="closeButton" class="close-btn" href="" ng-click="clearSearch()" tabindex="-1"></a>
                </th>
            </tr>
            <tr class="gradient-header" ng-show="siteList.length">
                <th id="codeHeader">Code</th>
                <th id="nameHeader">Name</th>
                <th id="parentHeader">Region</th>
                <th>Active</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="location in siteList">
                <td>
                    <a id="update{{$index}}" href="" ng-click="edit(location.id)" ng-bind="location.code"></a>
                </td>
                <td id="locationName{{$index}}" ng-bind="location.name"></td>
                <td id="locationZone{{$index}}" ng-bind="location.region"></td>
                <td>{{location.active?"Yes":"No"}}</td>


            </tr>
            </tbody>
        </table>
    </div>

    <pagination total-items="totalItems" page="currentPage" max-size="5" items-per-page="pagination.limit"
                direction-links="false" ng-show="locationList.length" class="pagination-sm"></pagination>
</div>