













<div>
    <h2>Product Putaway</h2>
</div>

<form name="putawayForm"  novalidate>

    <div class="form-row clearfix">
        <div class="span6">


            <div class="form-field row-fluid">
                <label>Product</label>
                <p>BCG</p>
            </div>
        </div>


        <div class="span6">
            <label>Lot</label>

            <div class="form-field row-fluid">
                <select ui-select2="{width: '100%'}" >
                    <option value="">--Select Lot--</option>
                    <option value="1">AAAA</option>
                    <option value="2"> BBBB</option>

                </select>

            </div>
        </div>



    </div>


    <div class="form-row clearfix">
        <div class="span6 well">
            <h4>From:</h4>
            <div class="form-row clearfix">

                <label for="receiptDate">
                    <span>Warehouse</span>
                </label>

                <div class="form-field">
                    <input type="text" ng-disabled="true"/>

                </div>


</div>

            <div class="form-row clearfix">

            <label for="receiptDate">
                <span>Bin Location</span>
            </label>

            <div class="form-field">
                <input type="text" ng-disabled="true"/>

            </div>

        </div>

            <div class="form-row clearfix">

                <label for="receiptDate">
                    <span>Passed Quantity</span>
                </label>

                <div class="form-field">
                    <input type="text" ng-disabled="true"/>

                </div>

            </div>

        </div>


        <div class="span6 well">
            <h4>To:</h4>
            <div class="form-row clearfix">

                <label for="receiptDate">
                    <span>Warehouse</span>
                </label>

                <div class="form-field">
                    <input type="text" ng-disabled="true"/>

                </div>


            </div>

            <div class="form-row clearfix">

                <label for="receiptDate">
                    <span>Bin Location</span>
                </label>

                <div class="form-field">
                    <input type="text" ng-disabled="true"/>

                </div>

            </div>

            <div class="form-row clearfix">

                <label for="receiptDate">
                    <span>Putaway Quantity</span>
                </label>

                <div class="form-field">
                    <input type="text" ng-disabled="true"/>

                </div>

            </div>

        </div>



    </div>


    <div class="form-row clearfix">
<div class="span12">

        <input  type="button" class="btn btn-primary pull-right"
                value="Add" style="margin-left:10px;margin-right:10px"/>

    </div>
</div>


    <div class="form-row clearfix">
        <table class="table table-bordered receive">
            <thead>
            <tr class="gradient-header">
                <th>Lot</th>

                <th>Quantity</th>
                <th>From Warehouse</th>
                <th>From Bin</th>
                <th>To Bin</th>
                <th>To Bin</th>


            </tr>
            </thead>



        </table>
    </div>


    <div form-toolbar id="action_buttons" class="action-buttons">
        <div class="form-cell button-row">
            <input id="cancelButton" type="button" class="btn btn-cancel cancel-button" value="Clear"
                   ng-click="cancel()"/>
            <input  type="button" class="btn btn-primary pull-right"
                    value="Adjust" style="margin-left:10px;margin-right:10px"/>
        </div>
        <div class="toolbar-error" id="saveErrorMsgDiv" openlmis-message="error" ng-show="error"></div>
    </div>
</form>