<!--
  ~ This program is part of the OpenLMIS logistics management information system platform software.
  ~ Copyright © 2013 VillageReach
  ~
  ~  This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  ~  You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org.
  -->

<div xmlns="http://www.w3.org/1999/html">
    <h2>
        <span id="searchGeoZoneHeader">Product Putaway</span>

    </h2>



    <div id="searchControl" class="row-fluid">
        <div class="span5 search-in-category">
            <div class="input-append input-prepend">
                <div class="btn-group">
                    <button id='searchOptionButton' class="btn dropdown-toggle">
                        <span id="selectedSearchOption" openlmis-message="selectedSearchOption.name"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="searchOption in searchOptions">
                            <a id="searchOption{{$index}}" href="" openlmis-message="searchOption.name"
                               ng-click="selectSearchType(searchOption)"></a>
                        </li>
                    </ul>
                </div>
                <input id='searchPreadive' type="text" class="span5" ng-model="query" maxlength="50"
                       ng-keydown="triggerSearch($event)" autocomplete="off"/>
                <button class="btn" ng-click="search(1)">
                    <i id='searchIcon' class="icon-search"></i>
                </button>
            </div>
        </div>

    </div>

    <div class="table-container">
        <table name="searchResultTable" class="table table-striped table-bordered search-list" ng-show="showResults" >
            <thead>
            <tr class="gradient-header resultCountHeader" ng-show = "showSearchResults">
                <th colspan="7">
                    <span ng-switch on="totalItems">
                    <h3 id="noResultMessage" ng-switch-when="0" openlmis-message="msg.no.matches|searchedQuery"></h3>
                    <h3 id="oneResultMessage" ng-switch-when="1" openlmis-message="msg.one.match|searchedQuery"></h3>
                    <h3 id="nResultsMessage" ng-switch-default
                        openlmis-message="msg.many.matches|totalItems|searchedQuery"></h3>
                      </span>
                    <a id="closeButton" class="close-btn" href="" ng-click="clearSearch()" tabindex="-1"></a>
                </th>
            </tr>

            <tr class="gradient-header" ng-show="asnList.length">
                <th  openlmis-message="header.asn.po.number" ng-click='sortColumn("poNumber")' ng-class='sortClass("poNumber")'></th>
                <!--                <th   >ASN Number</th>-->
                <th ng-click='sortColumn("clearingAgent")' ng-class='sortClass("clearingAgent")'>Clearing Agent</th>
                <th ng-click='sortColumn("expectedArrivalDate")' ng-class='sortClass("expectedArrivalDate")'>Expected  Arrival Date</th>
                <th  openlmis-message="header.asn.supplier" ng-click='sortColumn("supplier.name")' ng-class='sortClass("supplier.name")'></th>
                <th  openlmis-message="header.asn.status" ng-click='sortColumn("status")' ng-class='sortClass("status")'></th>
                <th colspan="2" id="actionHeader" openlmis-message="header.asn.action"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="asn in asnList|orderBy:column:reverse" ng-init="arrayIndex=$index">
                <td  ng-bind="asn.poNumber"></td>
                <!--                <td ng-bind="asn.asn.asnnumber"></td>-->
                <td  ng-bind="asn.clearingAgent"></td>
                <td  ng-bind="(asn.expectedArrivalDate |  date:'dd-MM-yyyy')"></td>
                <td  ng-bind="asn.supplier.name"></td>
                <td  ng-bind="asn.status"></td>
                <td>
                    <a  href="" ng-click="edit(asn.id,false)"  ng-if="asn.status=='DRAFT'" openlmis-message="update"></a>
                    <!--                    <a  href=""  ng-if="asn.status!='DRAFT'" >Recei</a>-->
                    <a  href="" ng-click="edit(asn.id,true)"  ng-if="asn.status!='DRAFT' && asn.status!='Draft'" >view</a>

                </td>

            </tr>

            </tbody>
        </table>
    </div>

    <pagination total-items="totalItems" page="currentPage" max-size="5" items-per-page="pagination.limit"
                direction-links="false" ng-show="asnList.length" class="pagination-sm"></pagination>
</div>