<!--
  ~ This program is part of the OpenLMIS logistics management information system platform software.
  ~ Copyright © 2013 VillageReach
  ~
  ~  This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  ~  You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org.
  -->

<div xmlns="http://www.w3.org/1999/html">
    <h2>
        <span id="searchGeoZoneHeader">Product Putaway</span>

    </h2>

    <div class="alert alert-success" ng-show="messageFlag">
        <span>{{messageToDisplay}}</span>

    </div>

<!--    <div id="searchControl" class="row-fluid">-->
<!--        <div class="span5 search-in-category">-->
<!--            <div class="input-append input-prepend">-->
<!--                <div class="btn-group">-->
<!--                    <button id='searchOptionButton' class="btn dropdown-toggle">-->
<!--                        <span id="selectedSearchOption" openlmis-message="selectedSearchOption.name"></span>-->
<!--                        <span class="caret"></span>-->
<!--                    </button>-->
<!--                    <ul class="dropdown-menu">-->
<!--                        <li ng-repeat="searchOption in searchOptions">-->
<!--                            <a id="searchOption{{$index}}" href="" openlmis-message="searchOption.name"-->
<!--                               ng-click="selectSearchType(searchOption)"></a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <input id='searchPreadive' type="text" class="span5" ng-model="query" maxlength="50"-->
<!--                       ng-keydown="triggerSearch($event)" autocomplete="off"/>-->
<!--                <button class="btn" ng-click="search(1)">-->
<!--                    <i id='searchIcon' class="icon-search"></i>-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->


    <div ng-show="putawayList.length == 0" openlmis-message="dynamic.pages.no.data.to.show">

    </div>

    <div class="table-container"  ng-show="putawayList.length > 0">
        <table name="searchResultTable" class="table table-striped table-bordered search-list" >
            <thead>
<!--            <tr class="gradient-header resultCountHeader" ng-show = "showSearchResults">-->
<!--                <th colspan="7">-->
<!--                    <span ng-switch on="totalItems">-->
<!--                    <h3 id="noResultMessage" ng-switch-when="0" openlmis-message="msg.no.matches|searchedQuery"></h3>-->
<!--                    <h3 id="oneResultMessage" ng-switch-when="1" openlmis-message="msg.one.match|searchedQuery"></h3>-->
<!--                    <h3 id="nResultsMessage" ng-switch-default-->
<!--                        openlmis-message="msg.many.matches|totalItems|searchedQuery"></h3>-->
<!--                      </span>-->
<!--                    <a id="closeButton" class="close-btn" href="" ng-click="clearSearch()" tabindex="-1"></a>-->
<!--                </th>-->
<!--            </tr>-->

            <tr class="gradient-header" ng-show="putawayList.length > 0 ">
                <th  openlmis-message="header.asn.po.number" ng-click='sortColumn("poNumber")' ng-class='sortClass("poNumber")'></th>
                <th >Warehouse Name</th>
                <th >Receiving Location</th>
                <th  >Inspection Date</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="putaway in putawayList|orderBy:column:reverse" ng-init="arrayIndex=$index">
                <td >
                    <a href="" ng-click="edit(putaway.id)">{{putaway.poNumber}}</a>
                </td>


                <td  ng-bind="putaway.warehouseName"></td>
                <td ng-bind="putaway.binLocation" ></td>
                <td  ng-bind="(putaway.inspectionDate |  date:'dd-MM-yyyy')"></td>

            </tr>

            </tbody>
        </table>
    </div>

    <pagination total-items="totalItems" page="currentPage" max-size="5" items-per-page="pagination.limit"
                direction-links="false" ng-show="putawayList.length > 0" class="pagination-sm"></pagination>
</div>