<!--
  ~ This program is part of the OpenLMIS logistics management information system platform software.
  ~ Copyright © 2013 VillageReach
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~  
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org. 
  -->

<div class="user-info">

    <span ng-show="notificationCount > 0">

      <span dropdown on-toggle="toggled(open)">
        <button class="" class="simple-dropdown" aria-label="simple-dropdown"
                dropdown-toggle>
        <i class="icon icon-bell-alt red-bell"></i> <b class="red-bell"> {{notificationCount}}</b>
        </button>
      <span class="dropdown-menu" style="position: absolute;left: auto; right: 50px"
            aria-labelledby="simple-dropdown">
        <span style="min-height:200px;min-width: 300px; max-width: 350px;text-align: left" class="panel">
          <div class="panel-header" style="padding-left: 20px;">
             <h3>
              <b>{{notificationCount}} notifications</b>
            </h3>
          </div>
          <span class="panel-body">
            <p style="text-align: left" ng-repeat="n in notifications">
              <a ng-href="{{n.url}}">{{$index + 1}} - {{n.subject}}</a>
            </p>
          </span>
        </span>
      </span>
    </span>

    </span>
  <span openlmis-message="message.loggedInAs"></span>&nbsp;<strong>{{user}}</strong>
  <a href="/public/pages/admin/user/preference/index.html#/edit-user-preference/{{userId}}">
    <span id="user-tab" openlmis-message="menu.header.edit.preferences"></span></a> | <a id='logout'
                                                                                         ng-click="logout()" href=""
                                                                                         openlmis-message="link.logout"></a>


</div>
