<!--
  ~ This program is part of the OpenLMIS logistics management information system platform software.
  ~ Copyright © 2013 VillageReach
  ~
  ~  This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  ~  You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org.
  -->

<h2>
    <span>Stock On Hand</span>

</h2>


<div class="row clear-fix">
    <div class="span3">
        <label id="parentLabel" >Select Warehouse</label>

        <div class="form-field row-fluid">
            <select ui-select2="{width: '90%'}" class="span11"
                    ng-model="warehouseId" ng-change="getSoh()">
                <option value="">--Select Warehouse--</option>

                <option ng-repeat="warehouse in warehouses"
                        value="{{ warehouse.id }}">
                    {{ warehouse.name }}
                </option>

            </select>
            <span class="field-error" ng-show="geoZoneForm.parent.code.$error.required && showError"
                  openlmis-message="missing.value"></span>
        </div>
    </div>
    <div class="span5 right-align center-align pull-right" ng-init="disableBtn=true">

        <input  type="button" class="btn btn-primary" ng-disabled="disableBtn" ng-model="warehouseidvalue"
                ng-click="printStockOnHand(this.value)" value="Print" />

           <!-- <select  onChange="window.open(this.value)" style="width: 200px;margin-top: 10px">
                <option value="#">Select Report</option>
                <option value="/wms-reports/generate-report?docType=pdf&facilityId=19092">Stock On Hand</option>
                <option value="/wms-reports/vaccine-report?type=1&docType=pdf">Picking List</option>
                <option value="/wms-reports/delivery-report?docType=pdf&distId=554">Proof of Delivery</option>
                <option value="/wms-reports/invoice-report?docType=pdf&distId=554">Invoice</option>

            </select>-->

    </div>
</div>



<div class="clear-fix rnr-table">

    <table id="equipmentTable" fixed-table-header  style="width:75%" class="table-bordered table table-striped scrollable">
        <thead>
        <tr>

            <th style="width:55px; min-width:40px !important;" class="col-product">
                <div class="regimen-heading">
                    <span>Product</span>
                </div>
            </th>
            <th style="width:50px; min-width:40px !important;" class="span1">
                <div class="regimen-heading">
                    <span>Batch #</span>
                </div>
            </th>
            <th style="width:50px; min-width:40px !important;" class="span1">
                <div class="regimen-heading">
                    <span>VVM</span>
                </div>
            </th>
            <th style="text-align:right; width:50px; min-width:40px !important;" class="col-quantity">
                <div class="regimen-heading">
                    <span>Quantity/Batch (Vials)</span>
                </div>
            </th>
            <th class="span1" style="width:30px; min-width:20px !important;">
                <div class="regimen-heading">
                    <span>Expiry Date</span>
                </div>
            </th>
            <th class="span1" style="width:50px; min-width:40px !important;">
                <div class="regimen-heading">
                    <span>Bin Location</span>
                </div>
            </th>
            <th class="span1" style="width:50px; min-width:40px !important;">
                <div class="regimen-heading">
                    <span>Last Updated</span>
                </div>
            </th>

            <th class="span1" style="text-align:right; width:80px; min-width:40px !important;">
                <div class="regimen-heading">
                    <span>Total Quantity (Vials)</span>
                </div>
            </th>
            <th class="span1" style="width:50px; min-width:40px !important;">
                <div class="regimen-heading">
                    <span>Action</span>
                </div>
            </th>

        </tr>
        </thead>
        <tbody>


        <tr ng-repeat-start="(product_name,product) in products">

    <td rowspan="{{product.length}}" class="col-lot cell-input  disabled padding2px">{{product_name}}</td>

            <td class="col-lot cell-input  disabled padding2px">{{product[0].lotNumber}}</td>
            <td class="col-lot cell-input  disabled padding2px">{{product[0].vvm}}</td>

            <td style="text-align:right;" class="col-lot cell-input  disabled padding2px">{{product[0].quantityOnHand | number}}</td>

            <td class="col-lot cell-input  disabled padding2px">{{product[0].expirationDate}}</td>
            <td class="col-lot cell-input  disabled padding2px">{{product[0].binLocation}}</td>
            <td class="col-lot cell-input  disabled padding2px">{{product[0].lastUpdated.split(" ")[0]}}</td>


            <td style="text-align:right;" rowspan="{{product.length}}" class="col-lot cell-input  disabled padding2px">{{calculateTotalQuantity(product[0].productId) | number}}</td>

            <td rowspan="{{product.length}}" class="col-lot cell-input  disabled padding2px"> <a class="btn btn-primary" ng-click="openLedger(product[0])">
                View</a></td>

        </tr>

        <tr ng-repeat-end  ng-repeat="lot in product" ng-if="$index > 0">
            <td class="col-lot cell-input  disabled padding2px">{{lot.lotNumber}}</td>
            <td class="col-lot cell-input  disabled padding2px">{{product[0].vvm}}</td>

            <td style="text-align:right;" class="col-lot cell-input  disabled padding2px">{{lot.quantityOnHand | number}}</td>
            <td class="col-lot cell-input  disabled padding2px">{{lot.expirationDate}}</td>
            <td class="col-lot cell-input  disabled padding2px">{{lot.binLocation}}</td>
            <td class="col-lot cell-input  disabled padding2px">{{lot.lastUpdated.split(" ")[0]}}</td>




        </tr>



        </tbody>

    </table>



</div>