













<div>
    <h2>Stock Adjustment</h2>
</div>

<div class="page-header">

    <h4>Adjustment Details:</h4>
</div>
<form name="movementForm"  novalidate>

    <div class="form-row clearfix">



        <div class="span4">
            <label for="receiptDate">
                <span>Reference No</span>
            </label>

            <div class="form-field">
                <input type="text" ng-model="referenceNoA" ng-disabled="true"/>
                <span class="field-error" ng-show="asnForm.asnReceiptDate.$error.required && showError"
                      openlmis-message="missing.value"></span>
            </div>
        </div>



    </div>



    <div class="form-row clearfix">
        <div class="span4">
            <label for="currency" >Warehouse</label>

            <div class="form-field row-fluid">
                <select ui-select2="{width: '100%'}" ng-model="warehouseId" openlmis-message="label.select.parent.zone">
                    <option value="">--Select Warehouse--</option>
                    <option value="1">Warehouse 1</option>
                    <option value="2"> Warehouse 2</option>

                </select>
                <span class="field-error" ng-show="geoZoneForm.parent.code.$error.required && showError"
                      openlmis-message="missing.value"></span>
            </div>
        </div>


        <div class="span4">
            <label for="currency" >Bin Location</label>

            <div class="form-field row-fluid">
                <select ui-select2="{width: '100%'}" ng-model="binLocationId" ng-disabled="!warehouseId" openlmis-message="label.select.parent.zone">
                    <option value="">--Select Bin Location--</option>
                    <option value="1">AAAA</option>
                    <option value="2"> BBBB</option>

                </select>
                <span class="field-error" ng-show="geoZoneForm.parent.code.$error.required && showError"
                      openlmis-message="missing.value"></span>
            </div>
        </div>



    </div>




    <div class="form-row clearfix">
        <div class="span4">
            <label for="currency" >Item</label>

            <div class="form-field row-fluid">
                <select ui-select2="{width: '100%'}" ng-disabled="!binLocationId" ng-model="itemId" openlmis-message="label.select.parent.zone">
                    <option value="">--Select Item--</option>
                    <option value="1">BCG</option>
                    <option value="2"> HPV</option>

                </select>
                <span class="field-error" ng-show="geoZoneForm.parent.code.$error.required && showError"
                      openlmis-message="missing.value"></span>
            </div>
        </div>


        <div class="span4">
            <label for="currency" >Lot</label>

            <div class="form-field row-fluid">
                <select ui-select2="{width: '100%'}" ng-disabled="!itemId" ng-model="lot" openlmis-message="label.select.parent.zone">
                    <option value="">--Select Lot--</option>
                    <option value="1">ASDFAD</option>
                    <option value="2"> FDFDFDF</option>

                </select>
                <span class="field-error" ng-show="geoZoneForm.parent.code.$error.required && showError"
                      openlmis-message="missing.value"></span>
            </div>
        </div>



        <div class="span4">
            <label for="receiptDate">
                <span>SOH</span>
            </label>

            <div class="form-field">
                <input type="text" ng-disabled="true"/>
                <span class="field-error" ng-show="asnForm.asnReceiptDate.$error.required && showError"
                      openlmis-message="missing.value"></span>
            </div>
        </div>



    </div>



    <div class="form-row clearfix">

        <div class="span4">
            <label for="receiptDate">
                <span>Quantity to Adjust</span>
            </label>

            <div class="form-field">
                <input type="text" ng-disabled="!lot" ng-model="quantity"/>
                <span class="field-error" ng-show="asnForm.asnReceiptDate.$error.required && showError"
                      openlmis-message="missing.value"></span>
            </div>
        </div>

    </div>






    <div class="form-row clearfix">

        <div class="span4">
            <label for="currency" >Reason</label>

            <div class="form-field row-fluid">
                <select ui-select2="{width: '100%'}" ng-disabled="!quantity || quantity==0" openlmis-message="label.select.parent.zone">
                    <option value="">--Select Reason--</option>
                    <option value="1">Reason 1</option>
                    <option value="2"> Reason 2</option>

                </select>
                <span class="field-error" ng-show="geoZoneForm.parent.code.$error.required && showError"
                      openlmis-message="missing.value"></span>
            </div>
        </div>
    </div>









    <div form-toolbar id="action_buttons" class="action-buttons">
        <div class="form-cell button-row">

            <input id="cancelButton" type="button" class="btn btn-cancel cancel-button" value="Clear"
                   ng-click="cancel()"/>






            <input  type="button" class="btn btn-primary pull-right"
                    value="Adjust" style="margin-left:10px;margin-right:10px"/>
        </div>

        <div class="toolbar-error" id="saveErrorMsgDiv" openlmis-message="error" ng-show="error"></div>
    </div>
</form>