













<div>
    <h2>Stock Adjustment</h2>
</div>

<div class="page-header">

    <h4>Adjustment Details:</h4>

    <div  class="alert alert-success" ng-show="adjustmentSuccess"
    >Adjustment Successful</div>
</div>
<form name="movementForm"  novalidate>

<!--    <div class="form-row clearfix">-->



<!--        <div class="span4">-->
<!--            <label for="receiptDate">-->
<!--                <span>Reference No</span>-->
<!--            </label>-->

<!--            <div class="form-field">-->
<!--                <input type="text" ng-model="referenceNoA" ng-disabled="true"/>-->
<!--                <span class="field-error" ng-show="asnForm.asnReceiptDate.$error.required && showError"-->
<!--                      openlmis-message="missing.value"></span>-->
<!--            </div>-->
<!--        </div>-->



<!--    </div>-->



    <div class="form-row clearfix">
        <div class="span4">
            <label for="currency" >Warehouse <span class="label-required"> *</span></label></label>

            <div class="form-field row-fluid">
                <select ui-select2="{width: '100%'}"
                        ng-model="stockMovement.fromWarehouseId" name="fromWarehouseId"
                        id="fromWarehouseId" ng-required="true"
                        ng-options="warehouse.id as warehouse.name for warehouse in stockMovement.warehouseList"

                        ng-change="loadBinLocation(stockMovement.fromWarehouseId,stockMovement.warehouseList)"
                        openlmis-message="label.select.parent.zone">
                    <option value="">--Select Warehouse--</option>


                </select>
                <span class="field-error" ng-show="movementForm.fromWarehouseId.$error.required && showError"
                      openlmis-message="missing.value"></span>
            </div>
        </div>


        <div class="span4">
            <label for="currency" >Bin Location <span class="label-required"> *</span></label></label>

            <div class="form-field row-fluid">
                <select ui-select2="{width: '100%'}"
                        ng-model="stockMovement.fromBin" name="fromBin" id="fromBin" ng-disabled="!stockMovement.fromWarehouseId"

                        ng-required="true"   ng-options="location.id as location.name for location in stockMovement.locations"

                        ng-change="loadProductLotDetails(stockMovement)"

                        >
                    <option value="">--Select Bin Location--</option>


                </select>
                <span class="field-error" ng-show="movementForm.fromBin.$error.required && showError"
                      openlmis-message="missing.value"></span>
            </div>
        </div>



    </div>




    <div class="form-row clearfix">
        <div class="span4">
            <label for="currency" >Item <span class="label-required"> *</span></label></label>

            <div class="form-field row-fluid">
                <select ui-select2="{width: '100%'}"
                        name="productId" id="productId" ng-model="stockMovement.productId"
                        ng-required="true"    ng-options="product.productId as product.productName for product in productToDisplay | unique:'productName'"
                        ng-change="loadProductLots(stockMovement.productId)"
                >
                    <option value="">--Select Item--</option>


                </select>
                <span class="field-error" ng-show="movementForm.productId.$error.required && showError"
                      openlmis-message="missing.value"></span>
            </div>
        </div>


        <div class="span4">
            <label for="currency" >Lot <span class="label-required"> *</span></label></label>

            <div class="form-field row-fluid">
                <select ui-select2="{width: '100%'}"
                        id="lotId" name="lotId" ui-select2="{width: '100%'}" ng-disabled="!stockMovement.productId" ng-model="stockMovement.lotNumberUn"
                        ng-change="showSOHa(stockMovement.lotNumberUn)"
                        ng-required="true"   ng-options="lot.lotNumberUn as lot.lotVvm for lot in lotsToDisplay"
                >
                    <option value="">--Select Lot--</option>


                </select>
                <span class="field-error" ng-show="movementForm.lotId.$error.required && showError"
                      openlmis-message="missing.value"></span>
            </div>
        </div>



        <div class="span4">
            <label for="receiptDate">
                <span>Stock On Hand </span>
            </label>

            <div class="form-field">
                <input type="text" ng-model="stockMovement.soh" ng-disabled="true"/>
                <span class="field-error" ng-show="asnForm.asnReceiptDate.$error.required && showError"
                      openlmis-message="missing.value"></span>
            </div>
        </div>



    </div>


    <input ng-disabled="true"  ng-model="stockMovement.lotId"  name="lotId" type="text" style="width:95%;display: none"/>
    <input ng-disabled="true"  ng-model="stockMovement.vvmId"  name="vvmId" type="text" style="width:95%;display: none"/>
    <input ng-disabled="true"  ng-model="stockMovement.stockCardId"  name="stockCardId" type="text" style="width:95%;display: none"/>

    <div class="form-row clearfix">
        <div class="span4">
            <label >Reason <span class="label-required"> *</span></label></label>

            <div class="form-field row-fluid">
                <select ui-select2="{width: '100%'}" ng-model="stockMovement.reason" ng-required="true" ng-options="reason.id as reason.reason for reason in adjustmentReasons"  openlmis-message="label.select.parent.zone">
<!--                    ng-disabled="!stockMovement.quantity || stockMovement.quantity==0"-->
                    <option value="">--Select Reason--</option>


                </select>
                <span class="field-error" ng-show="geoZoneForm.parent.code.$error.required && showError"
                      openlmis-message="missing.value"></span>
            </div>
        </div>

        <div class="span4">
            <label for="receiptDate">
                Quantity to Adjust <span class="label-required"> *</span>
            </label>

            <div class="form-field">
                <input ng-disabled="!stockMovement.lotNumberUn"  ng-model="stockMovement.quantity" ng-required="true" numeric-validator="positiveInteger" name="quantity" type="text" style="width:95%"/>
                <span class="field-error" ng-show="movementForm.quantity.$error.required && showError"
                      openlmis-message="missing.value"></span>
            </div>
        </div>

        <div class="span4" ng-show="stockMovement.reason==7">
            <label >VVM <span class="label-required"> *</span></label></label>

            <div class="form-field row-fluid">
                <select ui-select2="{width: '100%'}" ng-model="stockMovement.vvmId"  ng-options="vvm.id as vvm.name for vvm in vvmList"  openlmis-message="label.select.parent.zone">
                    <option value="">--Select VVM--</option>


                </select>
                <span class="field-error" ng-show="geoZoneForm.parent.code.$error.required && showError"
                      openlmis-message="missing.value"></span>
            </div>
        </div>







    </div>



    <div class="form-group"  ng-show="stockMovement.reason!=1 && stockMovement.reason!=7 && stockMovement.reason!=null || (stockMovement.reason==7 &&(stockMovement.vvmId==3||stockMovement.vvmId==4))">
        <h3 id="basicInformationLabel">Transfer To</h3>

        <div class="form-row clearfix">

            <div class="span4" >
                <label for="toWarehouseId" ><strong>To Warehouse</strong><span class="label-required"> *</span></label>

                <div class="form-field row-fluid">

                    <select  ui-select2="{width: '100%'}"
                             ng-model="stockMovement.toWarehouseId" name="toWarehouseId" id="toWarehouseId"
                             id="toWarehouse" ng-required="true"
                             ng-options="warehouse.id as warehouse.name for warehouse in stockMovement.warehouseList"

                             ng-change="loadBinLocation(stockMovement.toWarehouseId,stockMovement.warehouseList)"
                    >
                        <option value="">--Select Warehouse--</option>
                    </select>



                    <span class="field-error" ng-show="movementForm.toWarehouseId.$error.required && showError"
                          openlmis-message="missing.value"></span>
                </div>
            </div>


            <div class="span4">

                <label for="toBin" ><strong>To Bin Location</strong><span class="label-required"> *</span></label>

                <div class="form-field row-fluid">

                    <select name="toBin" id="toBin" ui-select2="{width: '100%'}" ng-model="stockMovement.toBin" ng-disabled="!stockMovement.toWarehouseId"

                            ng-required="true"   ng-options="location.id as location.name for location in stockMovement.locations2"
                    >
                        <option value="">--Select Bin Location--</option>

                    </select>
                    <span class="field-error" ng-show="movementForm.toBin.$error.required && showError"
                          openlmis-message="missing.value"></span>

                </div>
            </div>

        </div>
    </div>















    <div form-toolbar id="action_buttons" class="action-buttons">
        <div class="form-cell button-row">

            <input id="cancelButton" type="button" class="btn btn-cancel cancel-button" value="Clear"
                   ng-click="cancel()"/>






            <input  type="button" ng-click="adjust()" class="btn btn-primary pull-right"
                    value="Adjust" style="margin-left:10px;margin-right:10px"/>
        </div>

        <div class="toolbar-error" id="saveErrorMsgDiv" openlmis-message="error" ng-show="error"></div>
    </div>
</form>