<style>
    #quantity {
    display:block !important;

    }


</style>

<div>
    <h2><span style="width:200px !important"><strong>Stock Transfer</strong></span></h2>
</div>

<!--<div class="page-header">

    <h2><strong>Transfer From</strong>:</h2>
</div>-->
<form name="movementForm"  novalidate>
    <div class="form-group">

        <h3 id="basicInformationLabel">Transfer From</h3>

        <div class="form-row clearfix">

            <div class="span4">
                <label for="fromWarehouseId" ><strong>From Warehouse</strong><span class="label-required"> *</span></label>

                <div class="form-field row-fluid" >
                    <select  ui-select2="{width: '100%'}"
                             ng-model="stockMovement.fromWarehouseId" name="fromWarehouseId"
                             id="fromWarehouseId" ng-required="true"
                             ng-options="warehouse.id as warehouse.name for warehouse in stockMovement.warehouseList"

                             ng-change="loadBinLocation(stockMovement.fromWarehouseId,stockMovement.warehouseList)"
                    >

                        <option value="">--Select Warehouse--</option>
                    </select>
                    <span class="field-error" ng-show="movementForm.fromWarehouseId.$error.required && showError"
                          openlmis-message="missing.value"></span>
                </div>
            </div>

            <div class="span4">
                <label for="fromBin" ><strong>From Bin Location</strong><span class="label-required"> *</span></label>

                <div class="form-field row-fluid">
                    <select  ui-select2="{width: '100%'}" ng-model="stockMovement.fromBin" name="fromBin" id="fromBin" ng-disabled="!stockMovement.fromWarehouseId"

                             ng-required="true"   ng-options="location.id as (location.code+' ('+location.type.code+')') for location in stockMovement.locations"

                             ng-change="loadProductLotDetails(stockMovement)"

                    >
                        <option value="">--Select Bin Location--</option>


                    </select>
                    <span class="field-error" ng-show="movementForm.fromBin.$error.required && showError"
                          openlmis-message="missing.value"></span>
                </div>
            </div>

        </div>
        <br/>



        <div class="form-row clearfix">
            <div class="span4">
                <label for="productId" ><strong>Item</strong><span class="label-required"> *</span></label>

                <div class="form-field row-fluid">
                    <select ui-select2="{width: '100%'}" name="productId" id="productId" ng-model="stockMovement.productId"
                            ng-required="true"    ng-options="product.productId as product.productName for product in productToDisplay | unique:'productName'"
                            ng-change="loadProductLots(stockMovement.productId)"


                    >
                        <option value="">--Select Item--</option>


                    </select>
                    <span class="field-error" ng-show="movementForm.productId.$error.required && showError"
                          openlmis-message="missing.value"></span>
                </div>
            </div>


            <div class="span4">
                <label for="lotId" ><strong>Lot</strong><span class="label-required"> *</span></label>

                <div class="form-field row-fluid">
                    <select id="lotId" name="lotId" ui-select2="{width: '100%'}" ng-disabled="!stockMovement.productId" ng-model="stockMovement.lotId"
                            ng-change="showSOH(stockMovement.lotId)"
                            ng-required="true"   ng-options="lot.lotId as lot.lotVvm for lot in lotsToDisplay"

                    >
                        <option value="">--Select Lot--</option>

                    </select>
                    <span class="field-error" ng-show="movementForm.lotId.$error.required && showError"
                          openlmis-message="missing.value"></span>
                </div>
            </div>



            <div class="span4">
                <label for="soh">
                    <strong>Stock On Hand</strong>
                    <span class="label-required"> *</span>
                </label>

                <div class="form-field">
                    <input name="soh" id="soh" type="text"
                           style="width:95%" ng-disabled="true"
                           ng-model="stockMovement.soh"  ng-required="true"/>
                    <span class="field-error" ng-show="movementForm.soh.$error.required && showError"
                          openlmis-message="missing.value"></span>
                </div>
            </div>



        </div>
        <br/>
        <div class="form-row clearfix">

            <div class="span4" ng-show="stockMovement.lotId">
                <label for="reason" ><strong>Reason</strong><span class="label-required"> *</span></label>

                <div class="form-field row-fluid">
                    <select name="reason" id="reason" ui-select2="{width: '100%'}" ng-model="stockMovement.reason"
                            ng-required="true"  ng-options="reason.name as reason.name for reason in reasons"
                    >
                        <option value="">--Select Reason--</option>


                    </select>
                    <span class="field-error" ng-show="movementForm.reason.$error.required && showError"
                          openlmis-message="missing.value"></span>
                </div>
            </div>

            <div class="span4">
                <label for="quantity">
                    <strong>Quantity</strong><span class="label-required"> *</span>
                </label>

                <div class="form-field">
                    <input  ng-required="true" id="quantity" numeric-validator="positiveInteger" name="quantity" type="text"

                           ng-change="validateQuantity(stockMovement)"  ng-disabled="!stockMovement.lotId" ng-model="stockMovement.quantity"

                            style="width:95%;display:block !important;"/>

                    <span class="field-error" ng-show="isGreater"
                          >{{errorMessage}}</span>

                    <span class="field-error" ng-show="movementForm.quantity.$error.required && showError"
                          openlmis-message="missing.value"></span>
                </div>
            </div>

        </div>

    </div>

    <div class="form-group">
        <h3 id="basicInformationLabel">Transfer To</h3>

        <div class="form-row clearfix">

            <div class="span4" >
                <label for="toWarehouseId" ><strong>To Warehouse</strong><span class="label-required"> *</span></label>

                <div class="form-field row-fluid">

                    <select  ui-select2="{width: '100%'}" ng-disabled="!stockMovement.quantity"
                             ng-model="stockMovement.toWarehouseId" name="toWarehouseId" id="toWarehouseId"
                             id="toWarehouse" ng-required="true"
                             ng-options="warehouse.id as warehouse.name for warehouse in stockMovement.warehouseList"

                             ng-change="loadBinLocation(stockMovement.toWarehouseId,stockMovement.warehouseList)"
                    >
                        <option value="">--Select Warehouse--</option>
                    </select>



                    <span class="field-error" ng-show="movementForm.toWarehouseId.$error.required && showError"
                          openlmis-message="missing.value"></span>
                </div>
            </div>


            <div class="span4">

                <label for="toBin" ><strong>To Bin Location</strong><span class="label-required"> *</span></label>

                <div class="form-field row-fluid">

                    <select ng-disabled="!stockMovement.quantity" name="toBin" id="toBin" ui-select2="{width: '100%'}" ng-model="stockMovement.toBin" ng-disabled="!stockMovement.toWarehouseId"

                            ng-required="true"   ng-options="location.id as (location.code+' ('+location.type.code+')') for location in stockMovement.locations2"
                    >
                        <option value="">--Select Bin Location--</option>

                    </select>
                    <span class="field-error" ng-show="movementForm.toBin.$error.required && showError"
                          openlmis-message="missing.value"></span>

                </div>
            </div>

        </div>
    </div>


    <div form-toolbar id="action_buttons" class="action-buttons">
        <div class="form-cell button-row">

            <input ng-disabled="!stockMovement.toBin"  type="button" class="btn btn-primary pull-right"
                    value="Transfer" style="margin-left:10px;margin-right:10px"
                    ng-click="submit(stockMovement)"
            />


        </div>

        <div class="toolbar-success" ng-show="showMessage"> <span ng-bind="message"></span></div>
        <div class="toolbar-error" id="saveErrorMsgDiv" openlmis-message="error" ng-show="error"></div>
    </div>
</form>