<div id="consumptionRateColorInfo" modal="consumptionRateColorInfoModal"  options="{'backdrop':'static', 'escape':false}">
    <div class="modal-header">
        <h3 openlmis-message="label.consumption.configuration.rate.color.information"></h3>
    </div>
    <div class="modal-body">

        <div  class="adjustment-field">

            <table class="table table-striped table-bordered">
                <thead>
                <tr class="gradient-header">

                    <th><span openlmis-message="label.data.range.flag.display.name"></span></th>
                    <th><span openlmis-message="label.data.range.flag.min.value"></span></th>
                    <th><span openlmis-message="label.data.range.flag.max.value"></span></th>
                    <th ><span  openlmis-message="label.description"></span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="type in dataRangeConfigurationList | filter : query">


                    <td>{{type.displayname}}</td>
                    <td>{{type.minvalue}}</td>
                    <td>{{type.maxvalue}}</td>
                    <td ng-style="{'background-color': type.description}">{{type.description}}</td>

                </tr>
                </tbody>
            </table>

        </div>
        <div class="modal-footer">

            <input type="button"
                   ng-click="closeConsumptionRateColorInfoModal();"
                   class="btn btn-close"
                   openlmis-message="button.close"/>
        </div>
    </div>
</div>