<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Electronic Logistics Management Information System (eLMIS) is a supply chain management system for health commodities in a developing country setting.
  ~
  ~ Copyright (C) 2015  John Snow, Inc (JSI). This program was produced for the U.S. Agency for International Development (USAID). It was prepared under the USAID | DELIVER PROJECT, Task Order 4.
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/integration http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
                           http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <context:annotation-config/>
    <context:spring-configured/>

    <context:component-scan base-package="org.openlmis.notification"/>
    <rabbit:annotation-driven/>
    <rabbit:connection-factory id="connectionFactory" host="${mb.server.url}" port="${mb.server.port}"
                               username="${mb.server.username}" password="${mb.server.password}"/>
    <!--<rabbit:connection-factory id="connectionFactory" host="localhost" username="guest" password="guest" />-->
    <rabbit:admin connection-factory="connectionFactory"/>
    <rabbit:template id="amqpTemplate" connection-factory="connectionFactory" exchange="MESSAGE-EXCHANGE"/>
    <!--<bean id="rabbitListenerContainerFactory"-->
          <!--class="org.springframework.amqp.rabbit.config.SimpleRabbitListenerContainerFactory">-->
        <!--<property name="connectionFactory" ref="connectionFactory"/>-->
        <!--<property name="concurrentConsumers" value="3"/>-->
        <!--<property name="maxConcurrentConsumers" value="10"/>-->
    <!--</bean>-->

    <!-- Create myAnonymousQueue queue -->
    <rabbit:queue id="myAnonymousQueue"  name="facilityNotificationQueue" />
    <rabbit:queue id="myAnonymousQueue1"  name="MSG_000011" />
    <!-- create myExchange and bind myAnonymousQueue with my.routingkey.1 to the TUTORIAL-EXCHANGE-->
    <rabbit:topic-exchange id="myExchange" name="MESSAGE-EXCHANGE">
        <rabbit:bindings>
            <rabbit:binding queue="myAnonymousQueue1" pattern="messages.facility.notification.*"></rabbit:binding>
        </rabbit:bindings>
    </rabbit:topic-exchange>
    <!-- instantiate TutorialListener -->
    <bean id="aListener" class="org.openlmis.notification.service.NotificationMessageListener" />
    <!-- glue the listener and myAnonymousQueue to the container-->
    <rabbit:listener-container   connection-factory="connectionFactory">
        <rabbit:listener ref="aListener" queues="myAnonymousQueue1" /></rabbit:listener-container>

    <import resource="classpath:applicationContext-db.xml"/>
    <import resource="classpath:applicationContext-core.xml"/>

</beans>